@font-face {
	font-family: "Helvetica Neue";
	src: local("Helvetica Neue Regular"), local("HelveticaNeue-Regular");
	src: url("/public/fonts/Helvetica/helveticaneue.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
