@font-face {
	font-family: "Helvetica Neue";
	src: local("Helvetica Neue Regular"), local("HelveticaNeue-Regular");
	src: url("./helveticaneue.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Object Sans";
	src: url("./ObjectSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
