@use "../../helper/style/mixin";
@use "../../helper/style/media";

.primary {
  font-family: "Helvetica Neue", sans-serif;
}

.secondary {
  font-family: "Rokkitt", sans-serif;
}

.lighten-100 {
  opacity: 1;
}

.lighten-40 {
  opacity: 0.4;
}
