@use "../../helper/style/mixin";
@use "../../helper/style/media";

.component {
  --removed-body-scroll-bar-size: 0px;

  position: fixed;
  z-index: 100;
  top: 50%;
  left: calc(50% - (var(--removed-body-scroll-bar-size) / 2));
  right: auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1.25rem;

  width: calc(100% - (var(--removed-body-scroll-bar-size)) + 0px);
  height: auto;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--gutters);

  box-sizing: border-box;

  transform: translate(-50%, -35%);

  opacity: 0;

  pointer-events: none;
  visibility: hidden;

  transition-timing-function: linear;
  transition-duration: 250ms, 250ms;
  transition-property: transform, opacity;

  @include mixin.until(media.$sm) {
    height: var(--window-height);
    padding: 0;
  }
}

.animation {
  transform: translate(-50%, -50%);
  opacity: 1;

  transition-timing-function: linear;
  transition-duration: 250ms, 500ms;
  transition-property: transform, opacity;
}

.visible {
  pointer-events: all;
  visibility: visible;
}

.container {
  position: relative;

  max-height: calc(86vh - 2.5rem);

  border-radius: 0.625rem;

  background-color: rgba(var(--black), 1);

  overflow: hidden;

  @include mixin.until(media.$sm) {
    height: 100%;
    max-height: none;

    border-radius: 0;
  }
}

.sm {
  grid-column: -1/1;

  @include mixin.from(media.$sm) {
    grid-column: 3/11;
  }

  @include mixin.from(media.$lg) {
    grid-column: 4/10;
  }
}

.lg {
  grid-column: -1/1;

  @include mixin.from(media.$sm) {
    grid-column: 2/12;
  }
}

.header {
  @include mixin.until(media.$sm) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: var(--header-height);
    padding: 0 var(--gutters);

    border-bottom: 1px solid rgba(var(--white), 0.4);
  }

  @include mixin.from(media.$sm) {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
}

.logo {
  width: 7.5rem;
  height: auto;

  @include mixin.from(media.$sm) {
    display: none;
  }
}

.content {
  padding: 4rem;

  @include mixin.until(media.$sm) {
    padding: 6rem var(--gutters);
  }
}
