html {
  //weight
  --regular: 400;

  //colors

  --white: 255, 255, 255;
  --black: 0, 0, 0;

  //sizes

  --headline-1: 2.75rem;
  --body-1: 1rem;

  --line-90: 0.9;
  --line-136: 1.36;

  //grid

  --spacing-unit: 0.5rem;
  --max-width: 1440px;

  --gutters: 1.5rem;

  --grid: 100%;

  //header

  --header-height: 3.25rem;

  //breakpoints

  --breakpoint-xxs: 360px;
  --breakpoint-xs: 410px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1350px;

  //buttons

  --font-family-button: "Helvetica Neue", sans-serif;
  --justify-content-usoutlined-button: center;
  --button-decoration: none;

  //resolutions

  @media (min-width: 414px) {
    --gutters: 2rem;
  }

  @media (min-width: 768px) {
    --header-height: 5.75rem;

    --headline-1: 3.5rem;
    --body-1: 1.375rem;
  }

  @media (min-width: 1024px) {
    --gutters: 5rem;
  }

  @media (min-width: 1350px) {
    --gutters: 7.5rem;
  }
}
