.component {}


.list {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  grid-column-gap: 2.25rem;

  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  position: relative;
}

.link {
  position: relative;
}

.link {
  color: rgba(var(--white), 0.6);

  transition-timing-function: linear;
  transition-duration: 250ms;
  transition-property: background-color, color;

  &:hover,
  &:focus {
    color: rgba(var(--white), 1);
  }
}

.link svg {

}


